# Ambientes virtuais específicos de OS
venv/
env/
.env
env.js

# Arquivos compilados do Python
__pycache__/
*.py[cod]
*$py.class

# Arquivos de log e bancos temporários
*.log
*.sqlite3
.claude

# Arquivos do OS
.DS_Store
Thumbs.db